*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 16px;
	font-family: system-ui, sans-serif;
	color: #222;
}

.liquid-glass{
	--main-color: #fff;
	--secondary-color: #000;
	--liquid-saturate: saturate(180%);
	--liquid-blur: blur(2px);
	--liquid-filter: url(#liquid-glass-600);
	--liquid-shadow: 0 8px 32px rgb(from var(--secondary-color) r g b / 0.1);
	--liquid-inner-shadow: inset 0 0 20px rgb(from var(--main-color) r g b / 0.2);
	background: rgb(from var(--main-color) r g b / 0.4);
	border-top: 1px solid rgb(from var(--main-color) r g b / 0.3);
	border-bottom: 1px solid rgb(from var(--secondary-color) r g b / 0.1);
	backdrop-filter: var(--liquid-saturate) var(--liquid-blur) var(--liquid-filter);
	box-shadow: var(--liquid-shadow), var(--liquid-inner-shadow);
}